function Mod.mod 2
    push constant 0
    pop local 0
    push argument 0
    pop local 1

label LOOP_START 
    push local 1
    push argument 1
    gt
    if-goto DIV 
    push local 1
    push argument 1
    eq
    if-goto DIV
    goto END

label DIV 
    push local 0
    push constant 1
    add
    pop local 0
    push local 1
    push argument 1
    sub 
    pop local 1
    goto LOOP_START


label END
    push local 1
    return