function Pell.pell 3
    push argument 0
    push constant 0
    eq
    if-goto NULL
    push argument 0
    push constant 1
    eq
    if-goto ONE
    push argument 0
    push constant 2
    eq
    if-goto TWO

    push constant 1
    push constant 0
    pop local 0
    pop local 1
    push argument 0
    push constant 1
    sub
    pop local 2

label LOOP_START
    push local 2
    push constant 0
    eq
    if-goto END
    push local 1
    push local 1
    push local 0
    add
    add
    push local 1
    pop local 0
    pop local 1
    push local 2
    push constant 1
    sub
    pop local 2
    goto LOOP_START

label NULL
    push constant 0
    return
label ONE
    push constant 1
    return
label TWO
    push constant 2
    return

label END
    push local 1
    return